.popup-heading {
    font-size: 18px;
    font-weight: 300;
    font-family: monospace;
    background-color:lightgray;

}

.popup-label {font-size: 18px;margin-top: 10px;
    display: block;
    font-weight: 600;
    font-family: Lato,sans-serif;}

.no-margin{margin: 0px !important;}